@media screen and (max-width: 990px) {
  .container .home {
    width: 100%;
    padding: 6rem 7rem;
  }

  .home h1 {
    font-size: 5rem;
    line-height: 80px;
  }

  .home_text p {
    font-size: 0.9rem;
    line-height: 20px;
    padding-top: 2rem;
  }

  .menu_bar .boxMenu {
    width: 100%;
    padding: 7rem 2rem;
  }

  .boxMenu ul li {
    font-size: 3rem;
  }

  .section_two {
    padding: 0 3rem;
  }

  .section_fover {
    padding: 0 3rem;
  }

  .section_eleven {
   padding: 5rem 4rem;
   flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  .container .home {
    padding: 6rem 4rem;
  }

  .home h1 {
    font-size: 4rem;
    line-height: 70px;
  }

  .header .btn {
    display: none;
  }

  .section_two {
    width: 100%;
    padding: 0 1rem;
  }

  .section_fover {
    width: 100%;
    padding: 0 1rem;
  }

  .section_fover p {
    font-size: 3rem;
    line-height: 60px;
  }

  .sev_text h2 {
    font-size: 5rem;
  }

  .sev_text {
    bottom: 5%;
  }

  .section_eleven .left h1 {
    font-size: 4rem;
  }

  .section_eleven {
    padding: 5rem 2rem;
   }
  
}

@media screen and (max-width: 470px) {
  .header {
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  .container .home {
    padding: 6rem 1.5rem;
  }

  .home h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }

  .home .home_text {
    width: 100%;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .home_text p {
    width: 100%;
  }

  #menuIcone {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
  }

  .section_two h3 {
    font-size: 0.8rem;
  }

  .section_fover h3 {
    font-size: 0.8rem;
  }

  .section_two p {
    font-size: 2rem;
    line-height: 40px;
  }

  .section_fover p {
    font-size: 2rem;
    line-height: 40px;
  }

  .section_five canvas {
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }

  .sev_text h2 {
    font-size: 3.5rem;
  }

  .section_eleven {
    padding: 5rem 1.5rem;
   }

   .section_eleven .left h1 {
    font-size: 3rem;
    line-height: 50px;
  }
}
