@media screen and (max-width: 990px) {
  .container .home {
    width: 100%;
    padding: 6rem 7rem;
  }

  .home h1 {
    font-size: 5rem;
    line-height: 80px;
  }

  .home_text p {
    font-size: 0.9rem;
    line-height: 20px;
    padding-top: 2rem;
  }

  .menu_bar .box {
    width: 100%;
    padding: 5rem  1.5rem;
  }

  .box ul li {
    font-size: 3rem;
  }
  
  

}

@media screen and (max-width: 720px) {
  .container .home {
    padding: 6rem 4rem;
  }

  .home h1 {
    font-size: 4rem;
    line-height: 70px;
  }

  .header .btn {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .header {
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  
  .container .home {
    padding: 6rem 1.5rem;
  }

  .home h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }
  
  .home .home_text {
    width: 100%;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .home_text p {
    width: 100%;
  }

  #menuIcone {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
  }

}
